[Desktop Entry]
Name=Mamo Media Player
Comment=Play local music streams
# Use absolute path for Exec in current development context
Path=/path/to/Mamo
Exec='/usr/bin/python3 /path/to/Mamo/mamo.py'
Icon=audio-x-generic
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
StartupNotify=true
# Use the same ID as in the Adw.Application
StartupWMClass=com.example.MamoMediaPlayer
